* {
	margin: 0;
	padding: 0;
}

body {
	background:aquamarine;
	color: rgb(35, 87, 52);
	font-family:fantasy;

}
form {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 10px auto;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);

	grid-template-areas: "header header header"
						 "contenido contenido sidebar"
						 "widget-1 widget-2 sidebar"
						 "footer footer footer";
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
	background: #fff;
	padding: 5px;
	border-radius: 5px;
}

.contenedor .header {
	background:aquamarine;
	color: rgb(31, 88, 31);
	text-align: center;
	grid-area: header;
}

.contenedor .contenido {
     grid-area: contenido;
}




.contenedor .sidebar {
	grid-column: 3 / 4;
	background:aquamarine;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100px;
	grid-area: sidebar;
}

.contenedor .widget-1,
.contenedor .widget-2 {
	background: #55a8fd;
	color: rgb(9, 46, 12);
	height: 120px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contenedor .widget-1 {
	grid-area: widget-1;
}

.contenedor .widget-2 {
	grid-area: widget-2;
}

.contenedor .footer {
	background:aquamarine;
	color: rgb(7, 58, 7);
	text-align: center;
	grid-area: footer;
}


@media screen and (max-width: 768px){
	.contenedor {
		grid-template-areas: "header header header"
						 "contenido contenido contenido"
						 "sidebar sidebar sidebar"
						 "widget-1 widget-1 widget-2"
						 "footer footer footer";
	}
}